services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: vote_db
    volumes:
      - /data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
