services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "/api"
        VITE_SOCKET_URL: "/"
    container_name: vote-frontend
    restart: always
    ports:
      - "80:80"